body {
    padding: 30px 0 0 50px;
    width: 600px;
}

form {
    margin: 25px 0 0 0;
}

a {
    text-decoration: none;
}

h4 {
    padding: 0 0 10px 15px;
    border-bottom: 1px solid  #e8e8e8;
}

ul {
    padding: 0;
}

ul > li {
        list-style-type: none;
        padding: 0 0 5px 0;
}

table {
    width: 600px !important;
}

.panel-default > .panel-heading {
    background-image:none;
}

.input-small {
    width: 100px;
}

.input-medium {
    width: 200px;
}

.input-large {
    width: 300px;
}

select > option {
    padding: 7px;
}

.hidden {
    visibility: hidden;
}

.row {
    width: 800px;
}

.expire {
    width: 100px;float: left;
}

.footer {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background:#e7e7e7;
    text-align: left;
    color: gray;
    padding: 20px 0 20px 20px;
    font-size: xx-small;
    border: 1px solid #DDE4EB;
    line-height: 1.75;
}

.error {
    color: red;
}