@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CIP.TokenDemo.Models.Payment>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Payment</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />
	
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="@Url.Content("~/scripts/CIP.token.js")"></script>

</head>

<body>

    <h4>Secure Payment Form</h4>

    <div class="container-fluid">

        <form role="form" action="/payment" method="POST" id="payment-form" style="margin: 0 0 100px 0;">

            <div class="row">

                <div class="col-md-6">

                    @if (@Model != null && @Model.Error != string.Empty)
                    {
                        <div style="margin: 10px 0 10px 0;color: red;">
                            <text>@Model.Error</text>
                        </div>
                    }

                    <div class="panel panel-default">

                        <div class="panel-heading"><h3 class="panel-title">Card Information</h3></div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label>Transaction Type</label>
                                <select class="form-control" style="width: 130px;" name="transactionType">
                                    <option value="sale">Credit Sale</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Amount</label>
                                <input type="text" class="form-control input-small" value="1.03" name="amount">
                            </div>

                            <div class="form-group">
                                <label>Card Number</label>
                                <input type="text" class="form-control input-medium" value="4000200011112222" data-cip="accountdata">
                            </div>

                            <div class="form-group">
                                <label></label>
                                <select class="form-control expire" style="margin: 0 10px 0 0;" data-cip="exp-month">
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <select class="form-control expire" data-cip="exp-year">
                                    <option value="15">2015</option>
                                    <option value="16" selected="selected">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="18">2019</option>
                                    <option value="18">2020</option>
                                </select>
                            </div>

                            <div class="form-group" style="margin: 35px 0 0 0;">
                                <label>CVV Number</label>
                                <input type="text" class="form-control input-small" value="012" data-cip="cvvnumber">
                            </div>

                            <div class="form-group" style="margin: 20px 0 0 0;">
                                <label>Comments</label>
                                <input type="text" class="form-control input-large" value="" name="comments">
                            </div>
                        </div>
                    </div>

                    <!-- Billing Address -->
                    <div class="panel panel-default">

                        <div class="panel-heading"><h3 class="panel-title">Billing Address</h3></div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control input-medium" value="Joe" name="billingfirstname">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control input-medium" value="Smith" name="billinglastname">
                            </div>

                            <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control input-medium" value="" name="billingcompany">
                            </div>

                            <div class="form-group">
                                <label>Street</label>
                                <input type="text" class="form-control input-large" value="" name="billingstreet">
                            </div>

                            <div class="form-group">
                                <label>Street 2</label>
                                <input type="text" class="form-control input-large" value="" name="billingstreet2">
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control input-medium" value="" name="billingcity">
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control input-small" value="" name="billingstate">
                            </div>

                            <div class="form-group">
                                <label>Zip</label>
                                <input type="text" class="form-control input-small" value="" name="billingzip">
                            </div>

                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control input-medium" value="" name="billingcountry">
                            </div>

                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control input-medium" value="" name="billingphone">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control input-medium" value="" name="billingemail">
                            </div>

                        </div>
                    </div>

                    <!-- Shipping Address -->
                    <div class="panel panel-default">

                        <div class="panel-heading"><h3 class="panel-title">Shipping Address</h3></div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control input-medium" value="Sam" name="shippingfirstname">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control input-medium" value="Smith" name="shippinglastname">
                            </div>

                            <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control input-medium" value="" name="shippingcompany">
                            </div>

                            <div class="form-group">
                                <label>Street</label>
                                <input type="text" class="form-control input-large" value="" name="shippingstreet">
                            </div>

                            <div class="form-group">
                                <label>Street 2</label>
                                <input type="text" class="form-control input-large" value="" name="shippingstreet2">
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control input-medium" value="" name="shippingcity">
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control input-small" value="" name="shippingstate">
                            </div>

                            <div class="form-group">
                                <label>Zip</label>
                                <input type="text" class="form-control input-small" value="" name="shippingzip">
                            </div>

                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control input-medium" value="" name="shippingcountry">
                            </div>

                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control input-medium" value="" name="shippingphone">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control input-medium" value="" name="shippingemail">
                            </div>

                        </div>

                    </div>

                    <!-- Receipt Email -->
                    <div class="panel panel-default">

                        <div class="panel-heading"><h3 class="panel-title">Receipt Email</h3></div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control input-large" value="" name="email">
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Submit</button>
                        <img id="loader" src="~/content/Images/ajax-loader-1.gif" style="margin: 0 0 0 10px;" class="hidden" />
                        <span id="payment-validation-error" class="error"></span>
                    </div>

                </div>

            </div>

        </form>

        </div>

        <script>

            $(function () {

                $('#payment-form').find('button').prop('disabled', false);
                $('#loader').addClass('hidden');

                $('#payment-form').submit(function (event) {

                    //CIP.token.url = 'https://psl.chargeitpro.com/token/card.json';
                    CIP.token.url = 'http://localhost:57192/token/card.json';

                    /* This is the Publishable Key (MerchantName */
                    CIP.token.merchantName = "Merchant1_23f1984001644e1ba7b4ca9506077e81";

                    var $form = $(this);

                    // Disable the submit button and show ajax loader
                    $form.find('button').prop('disabled', true);
                    $('#loader').removeClass('hidden');

                    CIP.token.create($form, function (status, response) {

                        if (response.error) {

                            $form.find('#payment-validation-error').text(response.error.message);

                            $('#payment-form').find('button').prop('disabled', false);

                            $('#loader').addClass('hidden');

                        } else {

                            var token = response.Token;

                            $form.append($('<input type="hidden" name="cipToken" />').val(token));

                            $form.get(0).submit();
                        }
                    });

                    // Prevent the form from submitting with the default action
                    return false;
                });
            });

        </script>

</body>

</html>
