<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="Scripts/RemoteHardware.js"></script>
    <style>
        body {
            padding: 20px;
        }

        .error {
            color: red;
        }

        .wash {
            color: #83848A;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Remote Hardware Demo</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="user-name"></label>
                                <input type="text" class="form-control" id="user-name" placeholder="User Name">
                            </div>
                            <!--<button type="button" class="btn btn-default" id="connect">Connect</button>
                            <div class="form-group">
                                <label for="" style="margin: 0 0 0 10px;" id="connected" class="error">You are not connected</label>
                            </div>-->
                        </form>
                        <form style="margin: 20px 0 0 0;">
                            <div class="form-group">
                                <label for="to">To</label>
                                <input type="email" class="form-control" style="width: 185px;" id="to" placeholder="To">
                            </div>
                            <div class="form-group">
                                <label class="form-inline" for="transactionType">Action</label>
                                <select class="form-control" id="transactionType" style="width: auto">
                                    <option value="CreditSale" selected>Credit Sale</option>
                                    <option value="Void">Void</option>
                                    <option value="RequestSignature">Request Signature</option>
                                    <option value="Echo">Echo</option>
                                </select>
                            </div>
                            <div id="CreditSale">
                                <label for="amount">Amount</label>
                                <input class="form-control" style="width: auto" type="text" id="amount" />
                                <br />
                                <input type="checkbox" id="isManualEntry" /> Manual Entry<br />
                                <br />
                                <div id="manualEntryDiv" style="display: none">
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="accountNumber">Card Number</label>
                                            </td>
                                            <td style="padding: 10px">
                                                <input class="form-control" style="width: auto" type="text" id="accountNumber" />
                                            </td>
                                            <td>
                                                <label for="expDate">Expiration</label>
                                            </td>
                                            <td style="padding: 10px">
                                                <input class="form-control" style="width: auto" type="text" id="expDate" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="cvv">CVV</label>
                                            </td>
                                            <td style="padding: 10px">
                                                <input class="form-control" style="width: auto" type="text" id="cvv" />
                                            </td>
                                            <td>
                                                <label for="billingName">Billing Name</label>
                                            </td>
                                            <td style="padding: 10px">
                                                <input class="form-control" style="width: auto" type="text" id="billingName" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="street">Street Address</label>
                                            </td>
                                            <td style="padding: 10px">
                                                <input class="form-control" style="width: auto" type="text" id="street" />
                                            </td>
                                            <td>
                                                <label for="zip">Zipcode</label>
                                            </td>
                                            <td style="padding: 10px">
                                                <input class="form-control" style="width: auto" type="text" id="zip" />
                                            </td>
                                        </tr>
                                    </table>
                                    <br />
                                </div>
                            </div>
                            <div id="Void" style="display: none">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="uniqueTransId">UniqueTransID</label>
                                        </td>
                                        <td style="padding: 10px">
                                            <input class="form-control" style="width: auto" type="text" id="uniqueTransId" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="Echo" style="display: none">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="message">Message</label>
                                        </td>
                                        <td style="padding: 10px">
                                            <input class="form-control" style="width: auto" type="text" id="message" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="RequestSignature" style="display: none">
                            </div>
                            <br />
                            <button type="button" class="btn btn-default" id="send">Send</button>
                        </form>
                    </div>
                </div>
                <div id="questionPanel" style="display: none">
                    <label id="question"></label>
                    <div>
                        <button class="btn btn-default" type="button" id="yes">Yes</button>
                        <button class="btn btn-default" type="button" id="no">No</button>
                    </div>
                </div>
                <br />
                <div class="panel panel-default" id="resultsPanel" style="display: none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                        <table>
                            <tr>
                                <td>
                                    <label for="resultStatus">Result Status</label>
                                </td>
                                <td style="padding: 10px">
                                    <input class="form-control" style="width: auto" type="text" id="resultStatus" />
                                </td>
                                <td>
                                    <label for="resultMessage">ResultMessage</label>
                                </td>
                                <td style="padding: 10px">
                                    <input class="form-control" style="width: auto" type="text" id="resultMessage" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="amountProcessed">AmountProcessed</label>
                                </td>
                                <td style="padding: 10px">
                                    <input class="form-control" style="width: auto" type="text" id="amountProcessed" />
                                </td>
                                <td>
                                    <label for="uniqueTransIdResult">UniqueTransID</label>
                                </td>
                                <td style="padding: 10px">
                                    <input class="form-control" style="width: auto" type="text" id="uniqueTransIdResult" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="signature">Signature</label>
                                </td>
                                <td style="padding: 10px">
                                    <input class="form-control" style="width: auto" type="text" id="signature" />
                                </td>
                                <td>
                                    <label for="resultBillingName">Billing Name</label>
                                </td>
                                <td style="padding: 10px">
                                    <input class="form-control" style="width: auto" type="text" id="resultBillingName" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            OnResultFunction = function (result) {
                $("#resultsPanel").show();
                $("#resultStatus").val(result.Success);
                if (result.ResultFields.ResultStatus)
                    $("#resultsPanel").css('border-color', "#4CA950");
                else
                    $("#resultsPanel").css('border-color', "red");
                $("#amountProcessed").val(result.ResultFields.AmountProcessed);
                $("#resultMessage").val(result.ResultFields.ResultMessage);
                $("#uniqueTransId").val(result.ResultFields.UniqueTransID);
                $("#uniqueTransIdResult").val(result.ResultFields.UniqueTransID);
                $("#signature").val(result.ResultFields.Signature);
                $("#resultBillingName").val(result.ResultFields.BillingName);
            };
            OnEchoFunction = function (message) {
                alert(message);
            };
            OnQuestionFunction = function (question) {
                $("#questionPanel").show();
                $("#question").text(question);
            };

            $("#yes")
                .off('click', function() {})
                .on('click', function () {
                    answerYesFunction();
                    $("#questionPanel").hide();
                });

            $("#no")
                .off('click', function() {})
                .on('click', function() {
                    answerNoFunction();
                    $("#questionPanel").hide();
                });

            $("#send").on('click', function () {
                UserName = $("#user-name").val();
                ControllerName = $("#to").val();

                $("#resultsPanel").hide();
                var action = $("#transactionType option:selected").val();
                if (action === "Echo") {
                    echoFunction($("#message").val());
                    $("#message").val('');
                } else if (action === "CreditSale") {
                    clearResults();
                    creditSaleFunction("S300NumberOne", $("#amount").val(), $("#accountNumber").val(), $("#billingName").val(), $("#expDate").val(), $("#cvv").val(), $("#street").val(), $("#zip").val());
                    clearFields();
                } else if (action === "Void") {
                    voidFunction("S300NumberOne", $("#uniqueTransId").val());
                } else if (action === "RequestSignature") {
                    requestSignatureFunction("S300NumberOne");
                }
            });

            $("#transactionType").on('change', function () {
                $("#CreditSale").hide();
                $("#Void").hide();
                $("#Echo").hide();
                $("#RequestSignature").hide();
                $("#" + $("#transactionType option:selected").val()).show();
            });

            $("#isManualEntry").on('change', function () {
                if (this.checked)
                    $("#manualEntryDiv").show();
                else
                    $("#manualEntryDiv").hide();
            });
        });

        function clearFields() {
            $("#amount").val('');
            $("#isManualEntry").prop('checked', false);
            $("#manualEntryDiv").hide();
            $("#accountNumber").val('');
            $("#uniqueTransId").val('');
            $("#uniqueTransIdResult").val('');
            $("#expDate").val('');
            $("#cvv").val('');
            $("#billingName").val('');
            $("#street").val('');
            $("#zip").val('');
        };

        function clearResults() {
            $("#resultsPanel").hide();
            $("#resultStatus").val('');
            $("#amountProcessed").val('');
            $("#resultMessage").val('');
            $("#uniqueTransId").val('');
            $("#uniqueTransIdResult").val('');
            $("#signature").val('');
            $("#resultBillingName").val('');
        };
    </script>
</body>
</html>