<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <style>
        body {
            padding: 20px;
        }

        .error {
            color: red;
        }

        .wash {
            color: #83848A;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Remote Hardware Demo</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="user-name"></label>
                                <input type="text" class="form-control" id="user-name" placeholder="User Name">
                            </div>
                            <button type="button" class="btn btn-default" id="connect">Connect</button>
                            <div class="form-group">
                                <label for="" style="margin: 0 0 0 10px;" id="connected" class="error">You are not connected</label>
                            </div>
                        </form>
                        <form style="margin: 20px 0 0 0;">
                            <div class="form-group">
                                <label for="to">To</label>
                                <input type="email" class="form-control" style="width: 185px;" id="to" placeholder="To">
                            </div>
                            <div class="form-group">
                                <label for="transactionType">Action</label>
                                <select id="transactionType">
                                    <option value="CreditSale" selected>Credit Sale</option>
                                    <option value="Void">Void</option>
                                    <option value="RequestSignature">Request Signature</option>
                                    <option value="Echo">Echo</option>
                                </select>
                            </div>
                            <div id="CreditSale">
                                <label for="amount">Amount</label>
                                <input type="text" id="amount" />
                            </div>
                            <div id="Void" style="display: none">
                                <label for="uniqueTransRef">UniqueTransRef</label>
                                <input type="text" id="uniqueTransRef" />
                            </div>
                            <div id="Echo" style="display: none">
                                <label for="messages">Message</label>
                                <input type="text" id="message" />
                            </div>
                            <div id="RequestSignature" style="display: none">
                            </div>
                            <br />
                            <button type="button" class="btn btn-default" id="send">Send</button>
                        </form>
                    </div>
                </div>
                <div id="questionPanel" style="display: none">
                    <label id="question"></label>
                    <div>
                        <button class="btn btn-default" type="button" id="yes">Yes</button>
                        <button class="btn btn-default" type="button" id="no">No</button>
                    </div>
                </div>
                <br />
                <div class="panel panel-default" id="resultsPanel" style="display: none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                        <div>
                            <label for="resultStatus">Result Status</label>
                            <input type="text" id="resultStatus" />
                        </div>
                        <div>
                            <label for="resultMessage">ResultMessage</label>
                            <input type="text" id="resultMessage" />
                        </div>
                        <div>
                            <label for="amountProcessed">AmountProcessed</label>
                            <input type="text" id="amountProcessed" />
                        </div>
                        <div>
                            <label for="uniqueTransRefResult">UniqueTransRef</label>
                            <input type="text" id="uniqueTransRefResult"/>
                        </div>
                        <div>
                            <label for="signature">Signature</label>
                            <input type="text" id="signature"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>

    function setFrom(control) {
        $("#to").val($(control).html());
        $("#message").focus();
    };

    $(function () {

        $("#connect").on('click', function () {

            var userName = $("#user-name").val();

            if (userName === '') return;

            //var connection = $.hubConnection('https://api-staging.chargeitpro.com');

            var connection = $.hubConnection('http://localhost:811');

            connection.qs = { "userName": userName };

            var remoteHub = connection.createHubProxy('ChatHub');

            remoteHub.on('send', function (from, message) {
                var result = JSON.parse(message);
                if (result.Action === 'Echo') {
                    alert("Message " + result.Data + " echoed from " + $("#to").val());
                    return;
                }
                else if (result.Action === 'Question') {
                    $("#questionPanel").show();
                    $("#question").text(result.Data);
                    return;
                }
                else if (result.Action === 'Result') {
                    if (result.POSLinkResponse) {
                        $("#resultsPanel").show();
                        $("#resultStatus").val(result.Success);
                        $("#amountProcessed").val(result.POSLinkResponse.ApprovedAmount);
                        $("#resultMessage").val(result.POSLinkResponse.ResultTxt);
                        $("#uniqueTransRef").val(result.POSLinkResponse.RefNum);
                        $("#uniqueTransRefResult").val(result.POSLinkResponse.RefNum);
                        $("#signature").val(result.POSLinkResponse.Signature);
                    }
                    else if (result.ResultFields) {
                        $("#resultsPanel").show();
                        $("#resultStatus").val(result.Success);
                        $("#amountProcessed").val(result.ResultFields.AmountProcessed);
                        $("#resultMessage").val(result.ResultFields.ResultMessage);
                        $("#uniqueTransRef").val(result.ResultFields.UniqueTransRef);
                        $("#uniqueTransRefResult").val(result.ResultFields.UniqueTransRef);
                        $("#signature").val(result.ResultFields.Signature);
                    }
                    return;
                }
            });
           
            /* uncomment for verbose client side logging */
            //connection.logging = true;

            connection.start().done(function () {

                $("#send")
                    .off('click', function () { })
                    .on('click', function () {
                        $("#resultsPanel").hide();
                        var action = $("#transactionType option:selected").val();
                        if (action === "Echo") {
                            var eMessage = { Action: action, Data: $("#message").val() };
                            remoteHub.invoke('send', $("#to").val(), JSON.stringify(eMessage));
                            $("#message").val('');
                        }
                        else if (action === "CreditSale") {
                            var csMessage = { Action: "Transaction", Data: JSON.stringify({ TransactionType: action, Amount: $("#amount").val(), DeviceName: "S300NumberOne" }) };
                            remoteHub.invoke('send', $("#to").val(), JSON.stringify(csMessage));
                            $("#amount").val('');
                        }
                        else if (action === "Void") {
                            var vMessage = { Action: "Transaction", Data: JSON.stringify({ TransactionType: action, UniqueTransRef: $("#uniqueTransRef").val(), DeviceName:"S300NumberOne" }) };
                            remoteHub.invoke('send', $("#to").val(), JSON.stringify(vMessage));
                            $("#uniqueTransRef").val('');
                        }
                        else if (action === "RequestSignature") {
                            var rsMessage = { Action: "Transaction", Data: JSON.stringify({ TransactionType: action, DeviceName: "S300NumberOne" }) };
                            remoteHub.invoke('send', $("#to").val(), JSON.stringify(rsMessage));
                        }
                    });
                $("#yes")
                    .off('click', function() {})
                    .on('click', function() {
                        var yesMessage = { Action: "Answer", Success: true };
                        remoteHub.invoke('send', $("#to").val(), JSON.stringify(yesMessage));
                        $("#questionPanel").hide();
                    });
                $("#no")
                    .off('click', function() {})
                    .on('click', function() {
                        var noMessage = { Action: "Answer", Success: false };
                        remoteHub.invoke('send', $("#to").val(), JSON.stringify(noMessage));
                        $("#questionPanel").hide();
                    });


                $("#connected").html("You are connected as: " + userName).removeClass("error");

                //console.log(connection.id);

            }).fail(function (error) { console.log(error); });

            connection.error(function (error) {
                console.log('SignalR error: ' + error);
            });
        });

        $("#transactionType").on('change', function () {
            $("#CreditSale").hide();
            $("#Void").hide();
            $("#Echo").hide();
            $("#RequestSignature").hide();
            $("#" + $("#transactionType option:selected").val()).show();
        });

        $("#clear").click(function () {
            $("#messages").find("tr:gt(0)").remove();
        });

    });
</script>
