<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Payment</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />
	
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <script src="https://ppppublic.blob.core.windows.net/webpos/CIP.token.js"></script> -->
    <script src="@Url.Content("~/scripts/CIP.token.js")"></script> 

</head>

<body>

    <h4>Swipe Payment Form Demo</h4>

    <form role="form" action="/swipepayment" method="POST" id="payment-form">

        <div class="row">

            <div class="col-md-6">

                <div class="panel panel-default">

                    <div class="panel-heading"><h3 class="panel-title">Card Information</h3></div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label>Transaction Type</label>
                            <select class="form-control" style="width: 130px;" name="transactionType">
                                <option value="sale">Credit Sale</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control input-small" value="1.03" name="amount">
                        </div>

                        <div class="form-group">
                            <label>Swipe</label>
                            <input type="password" class="form-control input-large" value="" data-cip="accountdata">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-default" type="submit">Submit</button>
                    <img id="loader" src="~/content/Images/ajax-loader-1.gif" style="margin: 0 0 0 10px;" class="hidden" />
                    <span id="payment-validation-error" class="error"></span>
                 </div>

            </div>

        </div>

    </form>

    <div class="navbar navbar-fixed-bottom footer">

        Copyright &copy 2012 Payment Processing Partners, Inc. All rights reserved.<br />

        <a href="http://www.chargeitpro.com/privacy.html">Privacy & Security</a> | <a href="http://www.chargeitpro.com/terms.html">Terms & Conditions</a>

    </div>

    <script>

        $(function () {

            CIP.token.url = 'http://localhost:57192/token/card.json';
            /* This is the Publishable Key */
            CIP.token.merchantName = 'Merchant3_5c17f9ddf9534e2d84a1e5786c458a8c';

            $('#payment-form').find('button').prop('disabled', false);
            $('#loader').addClass('hidden');

            $('#payment-form').submit(function (event) {

                var $form = $(this);

                // Disable the submit button and show ajax loader
                $form.find('button').prop('disabled', true);
                $('#loader').removeClass('hidden');

                CIP.token.create($form, function (status, response) {

                    if (response.error) {

                        $form.find('#payment-validation-error').text(response.error.message);

                        $('#payment-form').find('button').prop('disabled', false);

                        $('#loader').addClass('hidden');

                    } else {

                        var token = response.Token;

                        $form.append($('<input type="hidden" name="cipToken" />').val(token));

                        $form.get(0).submit();
                    }
                });

                // Prevent the form from submitting with the default action
                return false;
            });
        });

    </script>

</body>

</html>
