@model TokenClientDemoMVC.Models.Result

@{
    ViewBag.Title = "Receipt";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/site.css" />
</head>
<body>
    <div>
        <h4>Results</h4>
    </div>
    <div>
        Status - @Model.Status
    </div>
    <div>
        AuthCode - @Model.AuthCode
    </div>
    <div>
        AuthAmount - @Model.AuthAmount
    </div>
    <div>
        Ref Number - @Model.RefNumber
    </div>
    <div>
        <a href="/index">Return to Index</a>
    </div>
</body>
</html>
