@model TokenClientDemoMVC.Models.Result

@{
    ViewBag.Title = "Receipt";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/site.css" />
</head>
<body>
    <div>
        <h4>Results</h4>
    </div>
    <div>
        ResultStatus - @Model.ResultStatus
    </div>
    <div>
        ApprovalNumberResult - @Model.ApprovalNumberResult
    </div>
    <div>
        AmountApproved - @Model.AmountApproved
    </div>
    <div>
        UniqueTransId - @Model.UniqueTransID
    </div>
    <div>
        <a href="/index">Return to Index</a>
    </div>
</body>
</html>
